* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #container {
    height: 100%;
  }

  #menu{
    list-style: none;
    padding: 0;
    background-color: #004443;
    text-align: center;
    border-bottom: solid #fff;
}

#menu li{
    display: inline;
    font-size: 18px;
}

#menu li a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

#menu li a:hover {
    transition: color 0.2s;
    color: #f5cc17;
    transition: color 0.2s;
}

  
  #container img {
    height: 400px;
  }
  
  @media (max-width: 420px) {
    #container img {
      height: 300px;
    }
  
    #container h1, h3 {
      font-size: 35px !important;
    }
  }
  
  @media (max-width: 290px) {
    #container img {
      height: 200px;
    }
  
    #container h1 {
      font-size: 25px !important;
    }
  }
  
  body {
    background: black;
    color: #fff;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
  
  #container img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #3bbef3;
  }
  
  #container h1 {
    font-size: 42px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  #container h2 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    opacity: 0.6;
  }
  
  #container p {
    text-align: center;
    max-width: 500px;
    opacity: 0.8;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 30px;
  }
  
  @media (max-width: 600px) {
    #container p {
      font-size: 18px;
    }
  }

  .portifolio{
    font-size: 42px;
    padding: 50px;
  }
  
  .linkcadastro{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
  }

  .linkcadastro a:hover {
    transition: color 0.2s;
    color: #3bbef3;
    border-color: #3bbef3;
  }

  .linkpage{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 0 10px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
  }
  
  .linkpage a:hover {
    transition: color 0.2s;
    color: #3bbef3;
    border-color: #3bbef3;
  }

  .linguagem-programacao{
    font-size: 42px;
    padding: 50px;
    text-align: center;
  }


  #linguagens{
    text-align: center;
  }
  

.img{
    width: 100px;
    height: 100px;
    margin: 30px;
    align-items: center;
    }



